<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>LSUIElement</key>
    <true/>
    <key>NSDesktopFolderUsageDescription</key>
    <string>L1nK needs access to your Desktop to save link files.</string>
    <key>NSDocumentsFolderUsageDescription</key>
    <string>L1nK needs access to your Documents folder to save link files.</string>
    <key>NSDownloadsFolderUsageDescription</key>
    <string>L1nK needs access to your Downloads folder to save link files.</string>
    <key>NSServices</key>
    <array>
        <dict>
            <key>NSMenuItem</key>
            <dict>
                <key>default</key>
                <string>Create L1nk Here</string>
            </dict>
            <key>NSMessage</key>
            <string>createLinkHere</string>
            <key>NSPortName</key>
            <string>L1nk</string>
            <key>NSRequiredContext</key>
            <dict/>
            <key>NSSendTypes</key>
            <array>
                <string>NSFilenamesPboardType</string>
                <string>public.file-url</string>
                <string>public.folder</string>
                <string>public.directory</string>
            </array>
        </dict>
    </array>
	<key>CFBundleExecutable</key>
	<string>L1nk</string>
    <key>CFBundleIconFile</key>
    <string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.yourcompany.l1nk</string>
	<key>CFBundleName</key>
	<string>L1nk</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.0</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>L1nk Document</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.yourcompany.l1nk</string>
			</array>
            <key>NSUbiquitousDocumentUserActivityType</key>
			<string>com.yourcompany.l1nk</string>
            <key>CFBundleTypeIconFile</key>
            <string>LinkDocIcon</string>
		</dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeIdentifier</key>
			<string>com.yourcompany.l1nk</string>
			<key>UTTypeDescription</key>
			<string>L1nk Document</string>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.html</string>
				<string>public.plain-text</string>
			</array>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>l1nk</string>
				</array>
			</dict>
            <key>UTTypeIconFile</key>
            <string>LinkDocIcon</string>
		</dict>
	</array>
</dict>
</plist>
